@tailwind base;
@tailwind components;
@tailwind utilities;


.body{	
	height: 100vh;
	display: grid;
	grid-template-rows:0.1fr 0.1fr 0.1fr auto ;
	grid-gap: 1em;
	justify-content: center;
	background-color: #080808;
	color:#fce2e2;
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size:1.4rem;
}

.body_light{
	background-color: ivory;
	color:black;
}




