@tailwind base;
@tailwind components;
@tailwind utilities;
.page{
	width:100vw;
}

body{
	
	background-color: #060608;
	color:#fff;
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size:1.4rem;

}

.body{
	position: relative;
	top:8em;
	left:14em;
}

.linebreak{
	width:70vw;
	border-width: 0.25rem;
	border-color: #009f60;
}



