.container{
	display: grid;
	grid-template-columns:1fr 1fr;
}

h1{
	font-size:1.5em;
	color:#00ce7c;
	margin-bottom: 0.3em;
}


input[type="checkbox"]{
	  position: relative;
	  top:0.05em;
	  appearance: none;
	  background-color:transparent;
	  margin: 0;
	  font: inherit;
	  color: currentColor;
	  width: 1.16em;
	  height: 1.15em;
	  border: 0.15em solid #8C3AEE;
	  border-radius: 0.15em;
	  transform: translateY(0.075em);
	  display: grid;
  	 place-content: center;
  	 margin-left: 1em;
  	 margin-right:0.4em;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  bottom:0.15em;
  left:0.25em;
  width: 0.35em;
  height: 0.7em;
  transform: scale(0);
  transition: 200ms all ease-in-out;
  background-color: transparent;
  border:0.16em solid #00df87;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
  opacity:0;

}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

.list{
	font-size: 1.2em;
	list-style: none;
}


.list + .list {
  margin-top: 0.23em;
}

.task{
	display:grid;
	grid-template-columns: auto 4fr auto auto;
	padding:0.1em;
	width:35vw;
}

.task>button{
	width:1.2em;
	height:1.2em;
	margin-right: 0.3em;
	opacity: 0;
	transition: all 300ms ease-in-out;
	}	

.task>button:hover{
	transform:scale(1.2);
}

.task:hover>button{
	opacity: 1;
}

.task> button:active{
	transform: scale(0.9);
}

.input:focus button{
	opacity: 1;
}

.input{
	position: relative;
	background-color: transparent;
	width:98%;
	border-radius: 5px;
	outline: 2px solid #ba8af5;
	padding-left: 0.2em;
}