
.heading{
	position: relative;
	font-size: 2em;
	padding-bottom:0.2em;
	caret-color: #06f980;
	border-bottom: 0.18em solid #ba8af5;
	margin-bottom: 0.2em;
}

.heading > input{
	border:none;
	outline:none ;
	position:relative;
	background-color: transparent;
	font-size: 1.2em;
}