.inputbar > input{
	border:none;
	outline:none ;
/*	position:relative;*/
	background-color: transparent;
	font-size: 1.2em;
}

.inputbar>button{
	font-size: 0.7em;
	color:#03bdbd;
	font-weight: 1000;
	background-color: transparent;

	padding:0.5em;
	border-radius: 0.5em;
	transform:scale(1.2);
	transition: all 300ms ease-in-out;
}

.inputbar>button:hover{
	transform: scale(1.15);
	background-image: linear-gradient(to right,#03bdbd,#06f980);
	color:black;
	border-radius: 0.5em;
}

.inputbar>button:active{
	transform:scale(0.9);
}

.inputbar{
	padding:0.5em;
	border-radius:0.4em ;
	width:25vw;
	height: 3.1em;
	background-color: #01101f;
	caret-color: #06f980;
	transition: all 300ms ease-in-out;
}

.inputbar_light{
	background-color: #ffdab9;
	caret-color: #025d30;
}